// global.scss
@import "./ress.scss";
@import "./helpers.scss";

* {
 box-sizing: border-box;
}

// keep it locked
html {
	position: fixed;
	overflow: hidden;
}

html, body {
	// position: relative;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	box-sizing: border-box;
	@include type-sans-md;
	background: black;
	// background-image: url('./images/background.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	//  background: rgb(0, 35, 80);
}

